
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:white;">
    <h1 style="color:red;">Hello, <%= @name %></h1>
    <p>
      Let's play Secret Santa this Christmas!<br/>
      Ok, your secret santa is: <h2><%= @secret %>.</h2><br>
    </p>
   
    <p>Check the website to know what <%= @secret %> wants as a present.</p>
  </body>
</html>
